* {
  box-sizing: border-box;
}

body {
  font-family: 'Lora', 'serif';
  padding: 0;
  margin: 0;
}

/*#toolbar {
  background-color: #222;
  padding: 0;
  margin: 0;
}

#toolbar li {
  display: inline;
  list-style: none;
  margin-right: 1px;
}

#toolbar li a {
  background-color: #272727;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}

#toolbar li a:hover {
  background-color: #3276b1;
  color: #fff;
}*/

#toolbar {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
}

#toolbar li {
  list-style: none;
}

#toolbar li a {
  color: rgba(0,0,0,0.15);
  display: inline-block;
  text-decoration: none;
  padding: 5px;
}

#toolbar:hover li a {
  color: rgba(0,0,0,0.3);
}

#toolbar li a:hover {
  color: #444;
}

html, body, #editor {
  height: 100%;
  width: 100%;
}

#editor {
  width: 90%;
}

#toolbar, #editor {
  padding: 15px 20px;
}

#editor:focus {
  border: 0;
  outline: 0;
}

#editor .placeholder {
  color: #888;
  font-style: italic;
}




.modal-overlay {
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.8);
  content: " ";
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.modal-positioner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
}

.modal-container {
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.12);
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-align: left;
  width: 400px;
  position: absolute;
  top: -500px;
  left: -200px;
  height: auto;
}

.modal-close-icon {
  color: #222;
  position: absolute;
  right: 11px;
  top: 10px;
  cursor: pointer;
}

.modal-content label {
  color: #666;
  font-size: 10px;
  text-transform: uppercase;
}

.modal-text-field,
.modal-text-field:focus {
  border: 0;
  border-bottom: 1px dotted #ddd;
  color: #333;
  font-family: 'Lora', 'serif';
  font-size: 20px;
  outline: 0;
  width: 100%;
}

.modal-header, .modal-footer {
  padding: 10px 20px;
}

.modal-content {
  background-color: #fff;
  padding: 15px 20px;
}

.modal-header {
  background-color: #444;
  border: 1px solid #3a3a3a;
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 1px 0 #666;
  color: white;
  font-weight: bold;
}

.modal-footer {
  background-color: #f1f1f1;
  border: 1px solid #e5e5e5;
  border-radius: 0 0 4px 4px;
}

.modal-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.button {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 2px 10px 3px;
  box-shadow: inset 0 1px 0 #fff;
  text-shadow: 0 -1px 0 #fff;
  color: #333;
}

.button-blue {
  background-color: #3276b1;
  border: 1px solid #276da5;
  color: white;
  font-weight: bold;
  box-shadow: inset 0 1px 0 #498bc1;
  text-shadow: 0 1px 0 #276da5;
}